In [97]:
import pandas as pd #importing the necessary library and renaming it as pd for readability
import numpy as np

In [98]:
nums = [1, 2, 3, 4, 5] 
s = pd.Series(nums) #creates a series
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [99]:
nums = [1, 2, 3, 4, 5]
s = pd.Series(nums, index=[1, 2, 3, 4, 5]) #creates a series with a custom index
print(s)

1    1
2    2
3    3
4    4
5    5
dtype: int64

In [100]:
dct = {'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki'}
s = pd.Series(dct) #prints out the entire dictionary. instead of giving it an index it uses the key as the index
print(s)

name       Asabeneh
country     Finland
city       Helsinki
dtype: object

In [101]:
s = pd.Series(10, index=[1, 2, 3]) #creates a normal series with a custom index
print(s)

s = pd.Series(np.linspace(0, 20, 5)) #creates a series with equal amount between 0 and 20 with 5 items
print(s)

1    10
2    10
3    10
dtype: int64
0     0.0
1     5.0
2    10.0
3    15.0
4    20.0
dtype: float64

In [102]:
data = [
    ['Asabeneh', 'Finland', 'Helsinki'],
    ['David', 'UK', 'London'],
    ['John', 'Sweden', 'Stockholm']
]
df = pd.DataFrame(data, columns=['Names', 'Country', 'City']) #creates the column names
print(df)

      Names  Country       City
0  Asabeneh  Finland   Helsinki
1     David       UK     London
2      John   Sweden  Stockholm

In [103]:
data = {
    'Name': ['Asabeneh', 'David', 'John'],
    'Country': ['Finland', 'UK', 'Sweden'],
    'City': ['Helsinki', 'London', 'Stockholm']
}
df = pd.DataFrame(data) #same output but different beacause this one utilizes a dict with key values and keys to avoid creating explicit names for the columns in the dataframe
print(df)

       Name  Country       City
0  Asabeneh  Finland   Helsinki
1     David       UK     London
2      John   Sweden  Stockholm

In [104]:
df = pd.read_csv('weight-height.csv')
print(df.head())  #prints the first 5 rows

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [105]:
print(df.tail())      #last 5 rows
print(df.shape)       #rows, columns count
print(df.columns)     #column names

      Gender     Height      Weight
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103
(10000, 3)
Index(['Gender', 'Height', 'Weight'], dtype='object')

In [106]:
heights = df['Height']  #extract the 'Height' column as a Series
weights = df['Weight']  #extract the 'Weight' column as a Series

print(heights.head())  #check the first 5 heights
print(weights.head())  #check the first 5 weights

print(len(heights) == len(weights))  #confirm both columns have same length

0    73.847017
1    68.781904
2    74.110105
3    71.730978
4    69.881796
Name: Height, dtype: float64
0    241.893563
1    162.310473
2    212.740856
3    220.042470
4    206.349801
Name: Weight, dtype: float64
True

In [107]:
print(heights.describe())  #summary stats of height
print(weights.describe())  #summary stats of weight
print(df.describe())       #summary stats of all columns

count    10000.000000
mean        66.367560
std          3.847528
min         54.263133
25%         63.505620
50%         66.318070
75%         69.174262
max         78.998742
Name: Height, dtype: float64
count    10000.000000
mean       161.440357
std         32.108439
min         64.700127
25%        135.818051
50%        161.212928
75%        187.169525
max        269.989699
Name: Weight, dtype: float64
             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

In [108]:
data = [
    {"Name": "Asabeneh", "Country":"Finland","City":"Helsinki"}, #a dictionary within a list
    {"Name": "David", "Country":"UK","City":"London"},
    {"Name": "John", "Country":"Sweden","City":"Stockholm"}]
df = pd.DataFrame(data)
print(df)

       Name  Country       City
0  Asabeneh  Finland   Helsinki
1     David       UK     London
2      John   Sweden  Stockholm

In [109]:
weights = [74, 78, 69] #adds weight to the dataframe
df['Weight'] = weights
print(df)

       Name  Country       City  Weight
0  Asabeneh  Finland   Helsinki      74
1     David       UK     London      78
2      John   Sweden  Stockholm      69

In [110]:
df['Height'] = [173, 175, 169]  # adds height to the dataframe
print(df)

       Name  Country       City  Weight  Height
0  Asabeneh  Finland   Helsinki      74     173
1     David       UK     London      78     175
2      John   Sweden  Stockholm      69     169

In [111]:
df['Height'] = df['Height'] * 0.01 #maping the heights by 0.01 to get meters
print(df)

       Name  Country       City  Weight  Height
0  Asabeneh  Finland   Helsinki      74    1.73
1     David       UK     London      78    1.75
2      John   Sweden  Stockholm      69    1.69

In [112]:
def calculate_bmi():
    weights = df['Weight'] 
    heights = df['Height']
    bmi = [] #creating a list to append to add to the dataframe
    for w, h in zip(weights, heights): #zip pairs the weights and the height
        b = w / (h * h) #equation
        bmi.append(b)
    return bmi
df['BMI'] = calculate_bmi() 
print(df)

       Name  Country       City  Weight  Height        BMI
0  Asabeneh  Finland   Helsinki      74    1.73  24.725183
1     David       UK     London      78    1.75  25.469388
2      John   Sweden  Stockholm      69    1.69  24.158818

In [113]:
df['Birth Year'] = ['1769', '1985', '1990'] 
df['Current Year'] = pd.Series(2020, index=df.index) #
df

,Name,Country,City,Weight,Height,BMI,Birth Year,Current Year
0,Asabeneh,Finland,Helsinki,74,1.73,24.725183,1769,2020
1,David,UK,London,78,1.75,25.469388,1985,2020
2,John,Sweden,Stockholm,69,1.69,24.158818,1990,2020

In [117]:
print(df.Weight.dtype)
print(df['Birth Year'].dtype)
df['Birth Year'] = df['Birth Year'].astype('int')
print(df['Birth Year'].dtype)
print(df['Current Year'].dtype)

int64
int64
int64
int64

In [119]:
ages = df['Current Year'] - df['Birth Year']
df['Ages'] = ages
print(df)

       Name  Country       City  Weight  Height        BMI  Birth Year  \
0  Asabeneh  Finland   Helsinki      74    1.73  24.725183        1769
1     David       UK     London      78    1.75  25.469388        1985
2      John   Sweden  Stockholm      69    1.69  24.158818        1990

   Current Year  Ages
0          2020   251
1          2020    35
2          2020    30

In [120]:
mean = (35 + 30)/ 2
print('Mean: ',mean)

Mean:  32.5

In [121]:
print(df[df['Ages'] > 120])

       Name  Country      City  Weight  Height        BMI  Birth Year  \
0  Asabeneh  Finland  Helsinki      74    1.73  24.725183        1769

   Current Year  Ages
0          2020   251